
.landing{
    background-image: url("../assets/imgs/c.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.adopting{
    background-color: rgb(134, 134, 134);
}