/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&display=swap');
/* font-family: 'Marhey', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
/* font-family: 'Katibeh', cursive; */
/* @import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
font-family: 'Blaka', cursive; */
* {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  outline: none;
  margin: 0;
  padding: 0;
  direction: rtl;
  /* border: 2px solid red; */
  color: black;
}
:root {
  --dark-yellow:#e7d619;
  --dark-blue:#0a2050;
  --light-blue:#192236;
  --shadow-blue:#181b26;
  --said-blue:#2f435c;
  --white:#fff;
  --light:#f8f9fa;
  --orang:#d67553;
  --main-transition:0.3s;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}



/* End Global Rules */